.services ul, .stats ul {
    margin-top: 0;
    padding-left: 1.23rem;
}

.services {
    display: grid;
    gap: 1.5rem;
    padding: 3rem 1rem;
    background-color: #f5f5f5;
}

.services img {
    
}

.screen__raplacemements-text {
    font-size: 24px;
    background-color: black;
    color: #ffff;
}